*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    background-color: #1D1D1D;
}
.imgLogo {
    display: flex;
    width: 50%;
    justify-content: center;
}
.navContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    color: #A5A5A5;
    list-style: none;
    text-decoration: none;
}